.fc {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    border-style: solid;
    border-width: 2px;
    flex-wrap: wrap;
}

.fi {
    margin: 0.25cm;
    padding: 0.25cm;
    flex-grow: 1;
    background-color: yellow;
    border-style: solid;
    border-width: 2px;
}

#d1 {
    flex-grow: 4;
}

#d2 {
    flex-grow: 2;
}

#d3 {
    flex-grow: 1;
}